@page
@model MusicPlayer.IndexPlaylist

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="list-group" id="playlist">
    @foreach (var item in Model.Playlist)
    {
            <a asp-page="./Details" asp-route-id="@item.Id" class="list-group-item list-group-item-action">
                <i class="fas fa-play" style="padding-right: 10px"></i>
                <span style="font-weight: 500">@Html.DisplayFor(modelItem => item.Name)</span>
            </a>
     }
</div>
