@page
@model MusicPlayer.CreateMusic

<h4>Music</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Music.Name" class="control-label"></label>
                <input asp-for="Music.Name" class="form-control" />
                <span asp-validation-for="Music.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music.File" class="control-label"></label>
                <input asp-for="Music.File" class="form-control" />
                <span asp-validation-for="Music.File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music.Author" class="control-label"></label>
                <input asp-for="Music.Author" class="form-control" />
                <span asp-validation-for="Music.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music.Type" class="control-label"></label>
                <input asp-for="Music.Type" class="form-control" />
                <span asp-validation-for="Music.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
